/*.header {
  background: lightyellow;
}
nav {
  background: lightgreen;
}
article {
  background: lightblue;
}
aside {
  background: lightcoral;
}
footer {
  background: lightgrey;
}
*/

/*========================================================================

1. Typography & Layout

/* ======================================================================*/
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

h1, h2, h3, h4, h5, h6 {
  font-family: 'Amatic SC', cursive;
}

h1 {
  font-size: 45px;
}
h2 {
  font-size: 43px;
}
h3 {
  font-size: 41px;
}
h4 {
  font-size: 39px;
}
h5 {
  font-size: 37px;
}
h6 {
  font-size: 35px;
}

a,
a:visited {
  color: #658b52;
}

/*========================================================================

2. Header

/* ======================================================================*/

img.logo {
  margin-top: 15px;
  margin-bottom: 15px;
}

@media (max-width: 640px) {
  img.logo {
    max-width: 100%;
  }
}

.navbar {
  background: #658b52;
  border-bottom: 4px solid #ffa250;
}

.navbar a,
.navbar-toggler {
  color: #fff;
}


/*========================================================================

3. Main body

/* ======================================================================*/
article ul.post-list {
  list-style: none;
  padding-left: 1.5rem;
}

section {
  padding-left: 1.5rem;
}

.single-post {
  padding-left: 1.5rem;
}

.entry-header {
  border-bottom: 1px solid lightgrey;
  margin-bottom: 15px;
}

.tags {
  margin-bottom: 15px;
  font-style: italic;
}

.comments-count {
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
}

.comments-count a {
  display: block;
  margin-bottom: 20px;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  border: 1px solid black;
  padding: 8px;
  background: #658b52;
}

/*========================================================================

4. Sidebar

/* ======================================================================*/
h4.widget-title {
  padding: 8px;
  font-size: 35px;
  color: #fff;
  background: #658b52;
  border-bottom: 4px solid #ffa250;
}

aside ul.post-list {
  list-style-type: none;
  padding-left: 0;
}

.side-meta {
  font-size: 13px;
  font-style: italic;
}


/*========================================================================

5. Footer

/* ======================================================================*/
