/*.header {
  background: lightyellow;
}
nav {
  background: lightgreen;
}
article {
  background: lightblue;
}
aside {
  background: lightcoral;
}
footer {
  background: lightgrey;
}

font-family: 'Amatic SC', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Patrick Hand', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Slab', serif;

*/

/*========================================================================

1. Typography & Layout

/* ======================================================================*/
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Montserrat:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600&family=Nunito:wght@400;600;700;800&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Patrick+Hand&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&family=Roboto+Slab:wght@300;400;500;600;700;800;900&display=swap');

body {
  background: lightgrey;
  color: #464646;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.container-xl {
  background: ivory;
  border-right: 1px solid grey;
  border-left: 1px solid grey;
}

.container-for-fixed-navbar {
  margin-top: 65px;
}

.row {
  padding: 0 10px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito', sans-serif;
  color: #2d2d2d;
}

a,
a:visited {
  color: black;
  font-weight: 700;
}

/*========================================================================

2. Header

/* ======================================================================*/
.header {
  padding: 0 10px;
}

img.logo {
  margin-top: 15px;
  margin-bottom: 15px;
}

/* It needs to be 430px */
.logo {
  display: block;
  max-width: 612px;
  margin: 40px auto;
}

@media (max-width: 640px) {
  img.logo {
    max-width: 100%;
  }
}

.navbar {
  background: #658b52;
  border-bottom: 1px solid #364a2c;
  border-top: 1px solid #364a2c;
}

@media (min-width: 992px) {
  .navbar {
    padding: 0;
  }
  .navbar a.nav-link {
    display: inline-block;
    border-right: 1px solid #364a2c;
    padding: 8px;
    transition: 1s ease;
  }
  .navbar ul li:first-child {
    border-left: 1px solid #364a2c;
  }
  .navbar a.nav-link:hover {
    background: rgba(255, 255, 255, 0.3);
    transition: 1s ease;
  }

  /* .navbar a {
    border-right: 1px solid #364a2c;
    padding: 5px 10px;
  }
  input.form-control.mr-sm-2 {
    margin-right: -1px !important;
    border: none;
    border-left: 1px solid #364a2c;
    height: 47px;
    box-sizing: border-box;
    border-radius: 0;
  } */
}

.navbar a {
  color: floralwhite !important;
  font-family: 'Amatic SC', cursive;
  font-size: 28px;
  font-weight: 600;
}

.navbar-dark .navbar-toggler-icon {
  background-color: ivory;
}

/*========================================================================

3. Main body

/* ======================================================================*/
article ul.post-list {
  list-style: none;
  padding-left: 0;
}

@media (min-width: 992px) {
  article ul.post-list {
    padding-right: 30px;
    border-right: 8px double lightgrey;
  }
}

.home-post {
  margin-bottom: 30px;
  border-bottom: 8px double lightgrey;
}

.home-post:last-child {
  border-bottom: none;
}

.entry {
  position: relative;
}

.entry-header {
  padding: 15px;
  position: absolute;
  bottom: 16px;
  left: 1px;
  right: 1px;
  background: #658b52;
  color: ivory;
  border-top: 1px solid #364a2c;
  transition: 1s ease;
}
.entry-header:hover {
  background: rgba(136, 178, 134, 1);
  transition: 1s ease;
}

h3.blog-post-title a {
  font-size: 37px;
  color: ivory;
}

h3.blog-post-title a:hover {
  text-decoration: none;
}

.entry-header  h3.blog-post-title,
.entry-header  p.meta {
  display: inline;
  vertical-align: center;
}

.thumbnail img {
  border-radius: 4px;
  margin-bottom: 15px;
  border: 1px solid #364a2c;
}

.img-fluid {
  object-fit: cover;
}

.tags {
  margin-bottom: 15px;
  font-style: italic;
}

.comments-count {
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
}

.comments-count a {
  display: block;
  margin-bottom: 20px;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  border: 1px solid black;
  padding: 8px;
  background: #658b52;
}

/*========================================================================

4. Sidebar

/* ======================================================================*/
.widget {
  margin-bottom: 15px;
}
h4.widget-title {
  padding: 8px;
  font-size: 30px;
  font-family: 'Amatic SC', cursive;
}

.sidebar-search {
  background: lightgrey;
  padding: 20px;
  border: 1px solid grey;
  border-radius: 2px;
}
.sidebar-search input {
  border-radius: 2px;
  border: 1px solid grey;
  margin: auto;
  min-width: 100%;
}

.latest-post {
  border: 1px solid #ff880f;
  border-radius: 2px;
  margin-bottom: 15px;
  background: #ffbb75;
}
.latest-post h4.widget-title {
  background: #ff9e3b;
  border-bottom: 1px solid #ff880f;
  color: #57300a;
  text-align: center;
  font-size: 40px;
}
.latest-post a {
  color: #57300a;
}

.latest-post ul li {
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.sidebar-img img {
  max-width: 80px;
  min-height: 80px;
  border: 1px solid #ff880f;
  border-radius: 2px;
}

.subscribe,
aside ul.post-list {
  list-style-type: none;
  padding: 8px;
}

.side-meta {
  font-size: 13px;
  font-style: italic;
}

ul.social-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.social-list li {
  display: inline;
}
ul.social-list li a img {
  height: 60px;
}

/*========================================================================

5. Footer

/* ======================================================================*/
footer {
  background: #658b52;
  border-top: 1px solid #364a2c;
  color: #fff;
  text-align: center;
  font-style: italic;
  font-size: 13px;
  padding: 10px 0;
}

footer a,
footer a:visited {
  color: #ff9e3b;
}
