---
layout: default
---

<div class="blog-post">
  {%- if page.title -%}
    <h1 class="blog-post-title">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        <div class="entry-header">
          <h3 class="blog-post-title">
            <a href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <p class="text-monospace">{{ post.date | date: date_format }} - {{ post.author }}</p>
        </div>
        {{ post.excerpt }}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>
